<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>Enthony - Editar</title>
    </head>
    <body>

        <div layout:fragment="body">
        <!-- inicio do EDITAR -->
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Editar</h1>
            <p class="lead">Edite o formulário abaixo.
            </p>

            <hr>

            <div class="mt-4">

                <form method="POST" th:action="@{/piano/update}" th:object="${piano}">
                    <div class="form-row">

                        <div class="form-group col-12">
                            <label for="marca">Marca</label>
                            <input th:field="${piano.marca}" type="text" id="marca" class="form-control" />

                            <label for="modelo">Modelo</label>
                            <input th:field= "${piano.modelo}" type="text" id="modelo" class="form-control" />


                            <label for="ano">Ano</label>
                            <input th:field="${piano.ano}" type="number" id="ano" class="form-control" />

                        </div>
                    </div>

                    <!-- NAO SE ESQUECAM de preencher este campo escondido do id -->
                    <input type="hidden" th:field="${piano.id}"/>


                    <button type="submit" class="btn btn-danger col-12">Atualizar</button>

                </form>
            </div>
        </div>
        <!-- fim do EDITAR -->
    </div>

    </body>
</html>